[Unit]
Description=Synchronize Pi-hole Gravity database to secondary DNS server
After=pihole-FTL.service
Wants=pihole-FTL.service

[Service]
Type=oneshot
User=pihole
Group=pihole
ExecStart=/usr/local/sbin/pihole-gravity-sync

# Do not allow the synchronization process to hang indefinitely
TimeoutStartSec=5min
